.heading {
  font-size: 3rem;
  color: white;
  padding-top: 15rem;
}

.description {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 4rem 0;
}

.btn {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: white;
}